<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index-member.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />\
    <title>Members</title>
</head>
<body>
    <div class="main-container">
        <div class="nav">
            <div class="logo-container">
                <a class="icon" id="active">
                    <h3 class="material-symbols-outlined">all_inclusive</h3>
                    <h3>My App</h3>
                </a>
            </div>
            <div class="icon-container">
                <a href="/dashboard/" id="active" class="icon">
                    <div class="material-symbols-outlined" >dashboard</div>
                    <div>DashBoard</div>
                </a>
                <a href="/dashboard/members/" class="icon">
                    <div class="material-symbols-outlined" >person</div>
                    <div>Members</div>
                </a>
                <a href="/dashboard/projects/" class="icon">
                    <div class="material-symbols-outlined" >groups</div>
                    <div>Projects</div>
                </a>
                <a href="/dashboard/tasks/" class="icon">
                    <div class="material-symbols-outlined" >assignment</div>
                    <div>Tasks</div>
                </a>       
                <a href="/login/" class="icon">
                    <div class="material-symbols-outlined" >manage_accounts</div>
                    <div>Setting</div>
                </a>
                <a href="/login/" class="icon">
                    <div class="material-symbols-outlined" >exit_to_app</div>
                    <div>Sign Out</div>
                </a>  
            </div>
        </div>

        

    </div>
</body>
</html>

