<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>Dashboard</title>
</head>
<body>
    <div class="dashboard">
        <div class="dashboard-container">
            <div class="icon-container">
                <a class="emptyspace"></a>
                <a  id="active" class="icon material-symbols-outlined" ref="/dashboard/">dashboard</a>
                
                <a class="icon material-symbols-outlined" href="/dashboard/members/">person</a>
                
                <a class="icon material-symbols-outlined" href="/dashboard/projects/">groups</a>
                
                <a class="icon material-symbols-outlined" href="/dashboard/tasks/">assignment</a>
                <a class="emptyspace"></a>
                <a class="icon material-symbols-outlined" href="/login/">manage_accounts</a>
                <a class="icon material-symbols-outlined" href="/login/">exit_to_app</a>
                <a class="icon" style="height:15px"></a>
            </div>
            <div class="main-screen">
                <div class="main-screen-header">
                    <h2>Welcome Back, Chris!</h2    >
                    <h5>Let's do the best today</h5>
                </div>
                <div class="main-screen-summary">
                    <div class="main-screen-summary-header">
                        <h4>Project Summary</h4>
                        <div class="empty"></div>
                    </div>
                    <div class="project-summary-card-container">
                        <div class="project-summary-card color1">
                            <div class="cardText1">1</div>
                            <div class="cardText2">Proposed</div>
                            <div class="cardText3">Project</div>
                        </div>
                        <div class="project-summary-card color2">
                            <div class="cardText1">5    </div>
                            <div class="cardText2">Upcoming</div>
                            <div class="cardText3">Project</div>
                        </div>
                        <div class="project-summary-card color3">
                            <div class="cardText1">30</div>
                            <div class="cardText2">Completed</div>
                            <div class="cardText3">Project</div>
                        </div>
                    </div>
                    <div class="main-screen-summary-header">
                        <h4>My Tasks</h4>
                        <div class="empty"></div>
                    </div>
                    <div class="main-screen-task-container">
                        <button id="task_active" type="button">Active</button>
                        <button type="button">Completed</button>
                        <a class="empty"></a>
                        <button type="button">View More</button>
                    </div>
                     
                    <div class="task-card-container">
                        <div class="task-card">
                            <img src="/img/pfp_placeholder.png">
                            <div class="task-card-text">
                                <div>Name Project</div>
                                <div>Leader: CHRISTOPHER BERMEJO </div>
                            </div>
                        </div>
                    </div>
                    <div class="task-card-container">
                        <div class="task-card">
                            <img src="/img/pfp_placeholder.png">
                            <div class="task-card-text">
                                <div>Name Project</div>
                                <div>Leader: Christopher Bermejo </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="icon-container">
                <a class="emptyspace"></a>
                <a  id="active" class="icon material-symbols-outlined" ref="/dashboard/">dashboard</a>
                
                <a class="icon material-symbols-outlined" href="/dashboard/members/">person</a>
                
                <a class="icon material-symbols-outlined" href="/dashboard/projects/">groups</a>
                
                <a class="icon material-symbols-outlined" href="/dashboard/tasks/">assignment</a>
                <a class="emptyspace"></a>
                <a class="icon material-symbols-outlined" href="/login/">manage_accounts</a>
                <a class="icon material-symbols-outlined" href="/login/">exit_to_app</a>
                <a class="icon" style="height:15px"></a>
            </div>
        </div>
    </div>
</body>
</html>