<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/script.js"></script>
    <link rel="stylesheet" href="../css/main.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet'>
    <title>Welcome!</title>
</head>

<body>
    <div class="container">

        <div class="div1">
            <h1>MEMBER CREATE PROFILE</h1>
        </div>

        <div class="div2">
            <form onsubmit ="validateForm(event)" action="/dashboard/members/add-member/submit-form" method="POST" id="member-form">
                
                <div>
                    <div id="memberid-error" class="error"></div>
                    <label for="memberid">Member ID:</label>
                    <input type="number" name="memberid" id="memberid" min="1">
                </div>
                
                <div>
                    <div id="fname-error" class="error"></div>
                    <label for="fname">First Name:</label>
                    <input type="text" name="fname" id="fname">
                </div>
                
                <div>
                    <div id="lname-error" class="error"></div>
                    <label for="lname">Last Name:</label>
                    <input type="text" name="lname" id="lname">
                </div>
                
                <div>
                    <div id="email-error" class="error"></div>
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email">
                </div> 
                
                <div> 
                    <div id="role-error" class="error"></div>
                    <label for="role">Role:</label>
                    <select name="role" id="role">
                        <option value="">-- Select Role --</option>
                        <option value="admin">Admin</option>
                        <option value="member">Member</option>
                        <option value="guest">Guest</option>
                    </select>
                </div> 
                
                <div> 
                    <div id="isActive-error" class="error"></div>
                    <label for="isActive">Is Active:</label>
                    <select name="isActive" id="isActive">
                        <option value="">-- Select Active Status --</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                </div>
                
                <div>
                    <div id="teamid-error" class="error"></div>
                    <label for="teamid">Team ID:</label>
                    <input type="number" name="teamid" id="teamid" min="1">
                </div>
                
                <div>
                    <button type="submit">Submit</button>
                </div>
                
              </form>              
        </div>    
    </div>
</body>
</html> 