<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/script.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet'>
    <title>Welcome!</title>
</head>

<body>
    <section>
        <div class="middle">
            <hgroup>
                <h1>WELCOME!</h1>
            </hgroup>
            <div style="border-top:solid 5px white"></div>
            <form action="/dashboard/members/add-member/submit-form" method="POST" id="member-form">

                <label for="email">EMAIL:   </label>
                <input type="email" name="email" id="email">

                <label for="pwd">PASSWORD:   </label>
                <input type="password" name="pwd" id="pwd">

                <button type="submit">LOGIN</button>
            </form>
        </div>
    </section>
</body>
</html> 