html, *{
    margin: 0px;
    box-sizing: border-box;
    font-family: Roboto, Arial, sans-serif;
}

html, body{
    height: 100%;
}

a, a:hover, a:visited, a:focus, a:active{
    color: black;
    text-decoration: none;
}

.main-container{
    display: flex;
    justify-content: center;
}

.icon-container, .logo-container{
    justify-content: center;
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
}

.icon-container a, .logo-container a{
    align-items: center;
    display: flex;
    gap: 5px;
}

.logo-container{
    padding: 10px 0px;
}

#active{
    background-color: blue;
}